<div class="title">
    Device
</div>

<ul *ngIf="webusbService.count() > 0">
    <li *ngFor="let filename of webusbService.lsArray()">
        <a href="#" class="filename" (click)="onDeviceFilenameClicked(filename)">
            {{ filename | async }}
            <div class="size">
                {{ computeDeviceFileSize(filename) }} bytes
            </div>
        </a>

        <a href="#" class="delete" (click)="onDeleteDeviceFileClicked(filename)">
            <fa [name]="'trash'"></fa>
        </a>

    </li>
</ul>

<p *ngIf="webusbService.count() === 0" class="empty">
    You have no saved files on this device!!!
</p>
